@using electronicComponents.DAL
@{
    electronicComponents.DAL.Member member = Session["Member"] as Member;
}
<link href="~/AdminStyle/css/style-starter.css" rel="stylesheet" />
<div class="banner-top container-fluid" id="home">
    <!-- header -->
    <div class="row">
        <div class="col-md-3 top-info text-left mt-lg-4">

        </div>
        <div class="col-md-6 logo-w3layouts text-center">
            <h1 class="logo-w3layouts">
                <a class="navbar-brand" href="../Home/Index">
                    Linh kiện store
                </a>
            </h1>
        </div>
        @if (member == null)
        {
            <div class="col-md-3 top-info-cart text-right mt-lg-4">
                <ul class="cart-inner-info">
                    <li class="button-log">
                        <a class="btn-open">
                            <span class="fa fa-user" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="button-register">
                        <a class="btn-open" href="/Home/Register">
                            <span class="fa fa-user-plus" aria-hidden="true"></span>
                        </a>
                    </li>

                </ul>
                <div id="cart">
                    @Html.Action("CartPartial", "Cart")
                </div>


            </div>
        }
        else
        {
            <div class="profile_details pull-right">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                           aria-expanded="false">
                            <div class="profile_img pull-right">
                                <img src="~/Content/images/user.png" class="rounded-circle" alt="" />
                                @*<div class="user-active">
                                    <span></span>
                                </div>*@
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                            <li class="user-info">
                                <h5 class="user-name">@member.fullName</h5>
                                <span class="status">@member.email</span>
                            </li>
                            <li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
                            <li> <a href="@Url.Action("CheckoutOrder","Member",new { ID=member.id})"><i class="fa fa-calendar-check"></i>Đơn hàng</a> </li>
                            <li> <a href="#"><i class="lnr lnr-cog"></i>Setting</a> </li>
                            <li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
                <br />
                <div id="cart" class="pull-right">
                    @Html.Action("CartPartial", "Cart")
                </div>
            </div>


        }

    </div>
    <div class="search">
        <div class="mobile-nav-button">
            <button id="trigger-overlay" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <!-- open/close -->
        <div class="overlay overlay-door">
            <button type="button" class="overlay-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <form action="#" method="post" class="d-flex">
                <input class="form-control" type="search" placeholder="Tìm kiếm..." required="" name="search">
                <button type="submit" class="btn btn-primary submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>

        </div>
        <!-- open/close -->
    </div>
    <label class="top-log mx-auto"></label>
    @Html.Action("MenuPartial", "Home")
    <!-- //header -->

</div>

<div class="overlay-login text-left">
    <button type="button" class="overlay-close1">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div class="wrap">
        <h5 class="text-center mb-4">Đăng nhập</h5>
        <div class="login p-5 bg-dark mx-auto mw-100">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label class="mb-2">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="userName" aria-describedby="emailHelp" placeholder="" required="" value="khachhang1">

                </div>
                <div class="form-group">
                    <label class="mb-2">Mật khẩu</label>
                    <input type="password" class="form-control" name="passwordd" id="exampleInputPassword1" placeholder="" required="" value="khachhang1">
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>

                <button type="submit" class="btn btn-primary submit mb-4">Đăng nhập</button>
            }

        </div>

    </div>
</div>

