@{
    IEnumerable<electronicComponents.DAL.ProductCategory> productCategories = ViewBag.listCategories;
    IEnumerable<electronicComponents.DAL.ProductCategoryParent> productCategoryParents = ViewBag.listParent;
}

<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
           
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-mega mx-auto">
            <li class="nav-item active">
                <a class="nav-link ml-lg-0" href="@Url.Action("Index","Home")">
                    Trang chủ
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Danh mục
                </a>
                <ul class="dropdown-menu mega-menu ">
                    <li>
                        @{
                            int couter = 1;
                        }
                        <div class="row">
                            @foreach (var item in productCategoryParents)
                            {
                                if (couter == 1)
                                {
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> @item.name </h5>
                                        @foreach (var item1 in productCategories.Where(x => x.parentID == item.id))
                                        {
                                            <ul>
                                                <li class="media-mini mt-3">
                                                    <a href="@Url.Action("ProductCategory","Product",new { ID=item1.id})">@item1.name</a>
                                                </li>

                                            </ul>
                                        }

                                    </div>
                                    couter++;
                                }
                                else if (couter == 2)
                                {
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> @item.name </h5>
                                        @foreach (var item1 in productCategories.Where(x => x.parentID == item.id))
                                        {
                                            <ul>

                                                <li class="media-mini mt-3">
                                                    <a href="@Url.Action("ProductCategory","Product",new { ID=item1.id})">@item1.name</a>
                                                </li>

                                            </ul>
                                        }

                                    </div>
                                    couter++;
                                }
                                else if (couter == 3)
                                {
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> @item.name </h5>
                                        @foreach (var item1 in productCategories.Where(x => x.parentID == item.id))
                                        {
                                            <ul>
                                                <li class="media-mini mt-3">
                                                    <a href="@Url.Action("ProductCategory","Product",new { ID=item1.id})">@item1.name</a>
                                                </li>

                                            </ul>
                                        }

                                    </div>
                                    couter++;
                                }
                                else if (couter == 4)
                                {
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> @item.name </h5>
                                        @foreach (var item1 in productCategories.Where(x => x.parentID == item.id))
                                        {
                                            <ul>
                                                <li class="media-mini mt-3">
                                                    <a href="@Url.Action("ProductCategory","Product",new { ID=item1.id})">@item1.name</a>
                                                </li>

                                            </ul>
                                        }

                                    </div>
                                    break;
                                }

                            }
                        </div>

                        <hr>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("NewProduct","Product")">Sản phẩm mới</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProSelling","Product")">Khuyến mãi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProFeatured","Product")">Bán chạy</a>
            </li>


          
        </ul>

    </div>
</nav>
