@model PagedList.IPagedList<electronicComponents.DAL.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

@{
    int couter = 1;
    int couter1 = 1;
    IEnumerable<electronicComponents.DAL.Product> productsSelling = ViewBag.ListProSelling;
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        @*$("#btnGetCurrentPage").click(function () {
            var item = @Model.PageNumber;  //get current page number
            alert(item);
        });*@
        $('.AddItemInCart').click(function (e) {
            var id = $(this).attr("data-id");
            $.ajax({
                method: "POST",
                url: "/Cart/CheckQuantityAdd",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $.ajax({
                            method: "POST",
                            url: "/Cart/AddItemInCart",
                            data: {
                                id: id
                            },
                            dataType: 'html',
                            success: function (response) {
                                swal({
                                    title: "Thông báo",
                                    text: "Đã thêm sản phẩm vào giỏ hàng!",
                                    icon: "success",
                                    timer: 1500
                                });
                                $("#DivCart").html(response);
                            }
                        });
                    }
                    else {
                        swal({
                            title: "Thông báo",
                            text: "Số lượng sản phẩm đã hết!",
                            icon: "warning",
                            timer: 1500
                        });
                    }
                }
            });
        });
    });
</script>
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container-fluid">
        <div class="inner-sec-shop px-lg-4 px-3">
            <h3 class="tittle-w3layouts my-lg-4 mt-3">Sản phẩm mới</h3>
            <div class="row">
                <!-- product left -->
                <div class="side-bar col-lg-3">
                    <div class="search-hotel">
                        <h3 class="agileits-sear-head">tìm kiếm</h3>
                        <form action="#" method="post">
                            <input class="form-control" type="search" name="search" placeholder="tìm..." required="">
                            <button class="btn1">
                                <i class="fas fa-search"></i>
                            </button>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                    <!-- price range -->
                    <div class="range">
                        <h3 class="agileits-sear-head">lọc theo giá</h3>
                        <ul class="dropdown-menu6">
                            <li>

                                <div id="slider-range"></div>
                                <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                            </li>
                        </ul>
                    </div>
                    <!-- //price range -->
                    <!--preference -->
                    <div class="left-side">
                        <h3 class="agileits-sear-head">ưu đãi giảm giá</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">backpack</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">phone pocket</span>
                            </li>

                        </ul>
                    </div>
                    <!-- // preference -->
                    <!-- discounts -->
                    <div class="left-side">
                        <h3 class="agileits-sear-head">giảm giá</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">5% or more</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">10% or more</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">20% or more</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">30% or more</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">50% or more</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">60% or more</span>
                            </li>
                        </ul>
                    </div>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="customer-rev left-side">
                        <h3 class="agileits-sear-head">đánh giá của khách hàng</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->
                    <!-- deals -->
                    @*<div class="deal-leftmk left-side">
                            <h3 class="agileits-sear-head">special deals</h3>
                            <div class="special-sec1">
                                <div class="img-deals">
                                    <img src="images/s1.jpg" alt="">
                                </div>
                                <div class="img-deal1">
                                    <h3>farenheit (grey)</h3>
                                    <a href="single.html">$575.00</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="special-sec1">
                                <div class="col-xs-4 img-deals">
                                    <img src="images/s2.jpg" alt="">
                                </div>
                                <div class="col-xs-8 img-deal1">
                                    <h3>opium (grey)</h3>
                                    <a href="single.html">$325.00</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="special-sec1">
                                <div class="col-xs-4 img-deals">
                                    <img src="images/m2.jpg" alt="">
                                </div>
                                <div class="col-xs-8 img-deal1">
                                    <h3>azmani round</h3>
                                    <a href="single.html">$725.00</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="special-sec1">
                                <div class="col-xs-4 img-deals">
                                    <img src="images/m4.jpg" alt="">
                                </div>
                                <div class="col-xs-8 img-deal1">
                                    <h3>farenheit oval</h3>
                                    <a href="single.html">$325.00</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>*@
                    <!-- //deals -->
                </div>
                <!-- //product left -->
                <!--/product right-->
                <div class="left-ads-display col-lg-9">
                    <div class="wrapper_top_shop">
                        @*<div class="row">
                                <div class="col-md-6 shop_left">

                                    <img src="~/Images/BannerE3.jpg" style="height:30px;width:auto " />
                                    <h6>40% off</h6>
                                </div>
                                <div class="col-md-6 shop_right">

                                    <img src="~/Images/bannerE5.jpg" style="height:30px;width:auto "  />
                                    <h6>50% off</h6>
                                </div>

                            </div>*@

                        <div class="row my-lg-3 my-0">

                            @foreach (var item in Model)
                            {
                                if (couter == 1)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })

                                    couter++;
                                }
                                else if (couter == 2)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 3)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })

                                    couter++;
                                }
                                else if (couter == 4)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 5)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 6)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 7)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 8)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 9)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 10)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 11)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    couter++;
                                }
                                else if (couter == 12)
                                {
                                    @Html.Action("ProductNewPartial", "Product", new { product = item })
                                    break;
                                }
                            }

                            <!--  -->

                        </div>
                        <div class="container" id="btnGetCurrentPage">
                            @Html.PagedListPager(Model, page => Url.Action("NewProduct", new { page, ID = ViewBag.productCategoryID }))

                        </div>
                        <!--<div class="product-sec1" id="ProductContainer">
                            <br />
                            <div class="container" id='Paging' style="text-align: right">-->
                        @*@Html.PagedListPager(Model, page => Url.Action("NewProduct", new { ID = ViewBag.productCategoryID, page , currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions
                            {
                                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                MaximumPageNumbersToDisplay = 3
                            }))*@
                        <!--</div>
                        </div>-->
                    </div>

                </div>

                <!--//product right-->
            </div>
            <!--/slide-->
            <div class="slider-img mid-sec mt-lg-5 mt-2">
                <!--//banner-sec-->
                <h3 class="tittle-w3layouts text-left my-lg-4 my-3">Sản phẩm nổi bật</h3>
                <div class="mid-slider">
                    <div class="owl-carousel owl-theme row">
                        @foreach (var item in productsSelling)
                        {
                            if (couter1 == 1)
                            {
                                @Html.Action("ProductFeaturePartial", "Product", new { product = item })
                                couter1++;
                            }
                            else if (couter1 == 2)
                            {
                                @Html.Action("ProductFeaturePartial", "Product", new { product = item })
                                couter1++;
                            }
                            else if (couter1 == 3)
                            {
                                @Html.Action("ProductFeaturePartial", "Product", new { product = item })
                                couter1++;
                            }
                            else if (couter1 == 4)
                            {
                                @Html.Action("ProductFeaturePartial", "Product", new { product = item })
                                couter1++;
                            }
                            else if (couter1 == 5)
                            {
                                @Html.Action("ProductFeaturePartial", "Product", new { product = item })
                                couter1++;
                            }
                            else if (couter1 == 6)
                            {
                                @Html.Action("ProductFeaturePartial", "Product", new { product = item })
                                break;
                            }

                        }
                    </div>
                </div>
            </div>
            <!--//slider-->
        </div>
    </div>
</section>
