@model PagedList.IPagedList<electronicComponents.DAL.OrderShip>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Đơn hàng chưa duyệt";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    IEnumerable<electronicComponents.DAL.Customer> customers = ViewBag.CustomerList as IEnumerable<electronicComponents.DAL.Customer>;
}

<!-- Template CSS -->
<link rel="stylesheet" href="~/AdminStyle/assets/css/style-starter.css">

<!-- google fonts -->
<link href="~/AdminStyle/fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
                <li class="breadcrumb-item active" aria-current="page">Đơn hàng chưa duyệt</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- pricing -->
        <section class="pricing">

            <div class="card mb-3">
                <div class="p-3 card card_border">
                    <div class="pl-0 pt-0 card-header chart-grid__header">
                        @*<a href="../Admin/AddCategories" class="btn btn-style border-btn pull-right">Thêm mới </a>*@
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Ngày đặt</th>
                                        <th>Ngày giao</th>
                                        <th>Ưu đãi</th>
                                        <th>Thanh toán</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Ngày đặt</th>
                                        <th>Ngày giao</th>
                                        <th>Ưu đãi</th>
                                        <th>Thanh toán</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @{
                                        int counter1 = 0;
                                    }
                                    @foreach (var item in Model.Join(customers, c => c.customerID, m => m.id, (c, m) => new { c, m })
                                        .Select(n => new { CustomerName = n.m.fullName, ID = n.c.id, DateOrder = n.c.dateOrder, DateShip = n.c.dateShip, Offer = n.c.offer, IsPaid = n.c.isPaid }))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ID)
                                            </td>
                                            <td style="color:brown">
                                                <b>@Html.DisplayFor(modelItem => item.CustomerName)</b>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateOrder)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateShip)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Offer)
                                            </td>
                                            <td>
                                                <div id="DivActive@(counter1)">
                                                    @if (item.IsPaid == true)
                                                    {
                                                        <span class="label label-success">Đã thanh toán</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">Chưa thanh toán</span>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                @*@Html.ActionLink("Chi Tiết", "Detail", new { ID = item.ID })*@
                                            </td>
                                        </tr>
                                        @(counter1++)
                                    }
                                    @(counter1 = 0)

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>


        </section>


    </div>
</div>

