@model electronicComponents.DAL.Product

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(document).ready(function () {
        function checkNameEdit() {
            var name = $("#name").val();
            var id = $("#id").val();
            var status = false;
            $.ajax({
                url: '/Checking/CheckNameProduct',
                data: {
                    name: name,
                    id: id
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        status = true;
                    }
                },
                async: false
            });
            if (status) {
                return true;
            }
            else {
                return false;
            }
        }
        $(document).on('submit', '#formEdit', function (e) {
            if (checkNameEdit() == false) {
                swal({
                    title: "Thông báo",
                    text: "Tên sản phẩm đã tồn tại!",
                    icon: "error"
                });
                return false;
            }
        });
    });

    </script>
<div class="main-content">
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý</li>
                <li class="breadcrumb-item active" aria-current="page"><a href="../Admin/Product">Sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <!-- forms 1 -->
            <div class="card card_border py-2 mb-4">
                <div class="card-body">
                    @using (Html.BeginForm("EditProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data",id = "formEdit" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)

                            <div class="form-group">
                                <h5 class="card-title">Tên sản phẩm</h5>

                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control input-style",id="name" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Giá bán</h5>
                                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control input-style" } })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Giá khuyến mãi</h5>
                                @Html.EditorFor(model => model.promotionPrice, new { htmlAttributes = new { @class = "form-control input-style" } })
                                @Html.ValidationMessageFor(model => model.promotionPrice, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Số lượng</h5>
                                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control input-style" } })
                                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Mô tả</h5>
                                @Html.EditorFor(model => model.descriptionn, new { htmlAttributes = new { @class = "form-control input-style" } })
                                @Html.ValidationMessageFor(model => model.descriptionn, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Giảm giá</h5>
                                @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control input-style" } })
                                @Html.ValidationMessageFor(model => model.discount, "", new { @class = "text-danger" })

                            </div>



                            <div class="form-group">
                                <h5 class="card-title">Hình ảnh 1</h5>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file" name="file" />
                                    <label class="custom-file-label" for="file">Choose file...</label>
                                </div>
                                @Html.ValidationMessageFor(model => model.image1, "", new { @class = "text-danger" })


                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Hình ảnh 2</h5>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file" name="file" />
                                    <label class="custom-file-label" for="file">Choose file...</label>
                                </div>
                                @Html.ValidationMessageFor(model => model.image2, "", new { @class = "text-danger" })


                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Hình ảnh 3</h5>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file" name="file" />
                                    <label class="custom-file-label" for="file">Choose file...</label>
                                </div>
                                @Html.ValidationMessageFor(model => model.image3, "", new { @class = "text-danger" })


                            </div>

                            @{
                                List<SelectListItem> data = ViewBag.CategoryList;
                            }
                            <div class="form-group">

                                <h5 class="card-title">Loại sản phẩm</h5>

                                @Html.DropDownListFor(model => model.categoryID, data, new { @class = "custom-select input-style" })
                                @Html.ValidationMessageFor(model => model.categoryID, "", new { @class = "text-danger" })

                            </div>

                            @{
                                List<SelectListItem> dataSup = ViewBag.SupplierList;
                            }

                            @{
                                List<SelectListItem> dataPro = ViewBag.ProducerList;
                            }
                            <div class="form-group">

                                <h5 class="card-title">Nhà sản xuất</h5>

                                @Html.DropDownListFor(model => model.producerID, dataPro, new { @class = "custom-select input-style" })
                                @Html.ValidationMessageFor(model => model.producerID, "", new { @class = "text-danger" })

                            </div>





                            @*<div class="form-group">

                                @Html.CheckBox("homeFlag")
                                @Html.ValidationMessageFor(model => model.homeFlag, "", new { @class = "text-danger" })

                                <label class="input__label">Hiển thị trang chủ</label>
                            </div>*@


                            @*<div class="form-group">

                                @Html.CheckBox("hotFlag")
                                @Html.ValidationMessageFor(model => model.hotFlag, "", new { @class = "text-danger" })

                                <label class="input__label">Sản phẩm hot</label>
                            </div>*@



                            @Html.HiddenFor(model => model.viewCount, new { htmlAttributes = new { @class = "form-control input-style" } })





                            @Html.HiddenFor(model => model.commentCount, new { htmlAttributes = new { @class = "form-control input-style" } })





                            @Html.HiddenFor(model => model.purchaseCount, new { htmlAttributes = new { @class = "form-control input-style" } })





                            <div class="form-group">

                                @Html.CheckBox("isNew")
                                @Html.ValidationMessageFor(model => model.isNew, "", new { @class = "text-danger" })

                                <label class="input__label">Sản phẩm mới</label>
                            </div>


                            <div class="form-group">

                                @Html.CheckBox("isActive")
                                @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })

                                <label class="input__label">Kích hoạt</label>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Lưu" class="btn btn-style btn-primary mr-2" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>

    </div>
</div>