@model electronicComponents.DAL.ProductCategory

@{
    ViewBag.Title = "EditCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Template CSS -->
<link rel="stylesheet" href="~/AdminStyle/css/style-starter.css">

<!-- google fonts -->
<link href="~/AdminStyle/fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
<div class="main-content">
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý</li>
                <li class="breadcrumb-item active" aria-current="page"><a href="../Admin/Categories">Loại sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="pricing">
            <!-- forms 1 -->
            <div class="card mb-3">
                <div class="p-3 card card_border">
                    <div class="card card_border py-2 mb-4">
                        <div class="card-body">
                            @using (Html.BeginForm("EditCategories", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.id)

                                    <div class="form-group">
                                        <h5 class="card-title">Tên loại sản phẩm</h5>

                                        <input type="text" class="form-control input-style" name="name" value="" placeholder="" />
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        <h5 class="card-title">Mô tả</h5>

                                        <input type="text" class="form-control input-style" name="descriptionn" value="" />
                                        @Html.ValidationMessageFor(model => model.descriptionn, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        <h5 class="card-title">Hình ảnh</h5>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file" name="file">
                                            <label class="custom-file-label" for="file">Choose file...</label>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.imagee, "", new { @class = "text-danger" })


                                    </div>


                                    @{
                                        List<SelectListItem> data = ViewBag.CategoryParentList;
                                    }
                                    <div class="form-group">

                                        <h5 class="card-title">Danh mục sản phẩm</h5>

                                        @Html.DropDownListFor(model => model.parentID, data, new { @class = "custom-select input-style" })
                                        @Html.ValidationMessageFor(model => model.parentID, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">

                                        @Html.CheckBox("isActive")
                                        @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })

                                        <label class="input__label">Kích hoạt</label>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input type="submit" value="Lưu" class="btn btn-style btn-primary mr-2" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>