@model IEnumerable<electronicComponents.DAL.Supplier>

@{
    ViewBag.Title = "StatisticSupplier";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>


<div class="main-content">
    <div class="container-fluid content-top-gap">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StatisticManage","Admin")">Chọn hình thức thống kê</a> <i class="fa fa-angle-right"></i></li>
            <li class="breadcrumb-item"><a href="@Url.Action("List")">Những nhà cung cấp tốt nhất</a> <i class="fa fa-angle-right"></i></li>
        </ol>

        <section class="pricing">
            <div class="card mb-3">
                <div class="p-3 card card_border">
                    <div class="pl-0 pt-0 card-header chart-grid__header">
                        <h2>Danh sách những nhà cung cấp tốt nhất</h2>
                        <hr />
                                <a href="@Url.Action("DownloadExcelStatisticSupplier","Admin",null)" class="btn btn-style border-btn" style="background-color:green;color:white" id="btnAddNew">Xuất Excel</a>
                        

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Tên nhà cung cấp
                                            </th>
                                            <th>
                                                Địa chỉ
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Số điện thoại
                                            </th>
                                            <th>
                                                Tình trạng
                                            </th>
                                            <th>
                                                Doanh số
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            @Html.Hidden(item.id.ToString())
                                            <tr>
                                                <td style="color:brown">
                                                    <b>@Html.DisplayFor(modelItem => item.name)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.addresss)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.phoneNumber)
                                                </td>
                                                <td>
                                                    @if (item.isActive != true)
                                                    {
                                                        <span class="label label-danger">Ngừng hợp tác</span> }
                                                    else
                                                    {
                                                        <span class="label label-success">Đang hợp tác</span>}
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.totalAmount)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
        </section>
    </div>
</div>
